.main{
   display: flex;
   flex-direction:row;
  
  
}
.road{
    background-color: darkgray;
    height: 100vh;
    width: 45vw;
    overflow: hidden;


}

.neural{
    background-color:black;
    height: 100vh;
    width:55vw;
     overflow: hidden;
}