.main{
   display: flex;
   flex-direction:row;
    overflow: hidden;
  
}
.track{
    background-color: darkgray;
    height:100vh;
    width: 45vw;
    display: flex;
    justify-content:center;
}

.road{
    background-color: lightgray;
    height:100%;
    width:50%;
   
}
.neural{
    background-color:black;
    height: 100vh;
    width:55vw;
   
}

.save{

    padding:3px;
    margin:2px;
    margin-left:20px;
    margin-top: 25px;
    border-radius:20px;
    height:40px;
    background-color: green;
    color:black;
    font-weight: 2px;

}

.unSave{
     padding:3px;
     margin:2px;
     margin-left:20px;
     margin-top: 25px;
     border-radius:20px;
     height:40px;
     background-color: red;
     color:black;
    font-weight: 2px;

}