.main{
   display: flex;
   flex-direction:row;
    overflow: hidden;
  
}
.track{
    background-color: darkgray;
    height: 100vh;
    width: 45vw;
    display: flex;
    justify-content:center;
}

.road{
    background-color: lightgray;
    height: 100vh;
    width:50%;
   
}
.neural{
    background-color:black;
    height: 100vh;
    width:55vw;
   
}